.bar {
    z-index: 1;
    position: relative;
}

.bar::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/image/3.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
}


.bar__title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 2px;
    background-color: chocolate;
}

.bar__article {
    width: 80%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bar__image {
    position: relative;
    z-index: 1;
    flex-basis: auto;
    width: 30vw;
    max-width: 700px;
    height: 20vw;
    max-height: 450px;
}

.bar__photo {
    width: 100%;
    height: 100%;
}

.bar__offer {
    flex-basis: 30%;
}

.bar__paragraph {
    color: #fff;
    padding: 0 40px;
    font-size: 1.1rem;
    text-align: justify;
    /* margin: 0; */
}

.bar__menu {
    border: 1px solid rgb(94, 94, 94);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: chocolate;
    color: #fff;
    font-weight: bolder;
    border-radius: 20px;
    outline: none;
}

@media (max-width: 1000px) {
    .bar__offer {
        flex-basis: 50%;
    }

    .bar__paragraph {
        margin: 0;
    }
}

@media (max-width: 650px) {
    .bar__offer {
        flex-basis: 100%;
        margin-top: 15px;
    }
    .bar__image {
        width: 40vw;
        height: 30vw;
    }
}

@media (max-width: 450px) {
    .bar__image {
        display: none;
    }

    .bar__article {
        padding: 20px;
    }
    .bar__paragraph {
        padding: 0;
        margin-bottom: 10px;
    }
}