.footer__top {
    width: 100%;
    padding: 30px;
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1rem;
}

.footerTop__description,
.footerTop__contact,
.footerTop__openingHours {
    padding: 30px;
    flex-basis: 25%;
}

.footerTop__openingHours {
    display: flex;
    flex-direction: column;
}

.footerTop__openingHoursParagraph {
    margin: 5px 0px;
}

.footerTop__description {
    line-height: 1.6rem;
    letter-spacing: 1px;
    text-align: justify;
}

.fontColor {
    color: chocolate;
    text-decoration: none;
}

.footerTop__map {
    width: 30vw;
    height: 20vw;
    padding: 5px;
}

.footerTop__iframe {
    width: 100%;
    height: 100%;
}

.footer__bottom {
    background-color: #303030;
    text-align: center;
    padding: 20px 0px;
    font-size: 1rem;
}

.footer__bottom p {
    margin: 0;
    padding: 10px 0px;
    color: #fff;
}

@media (max-width: 1000px) {
    .footerTop__description,
    .footerTop__openingHours {
        flex-basis: 50%;
    } 

    /* .footerTop__description {
        border-right: 1px solid #fff;
    } */
    .footerTop__contact {
        flex-basis: 100%;

    }
}

@media (max-width: 540px) {
    .footerTop__description,
    .footerTop__openingHours {
        flex-basis: 100%;
    } 
    .footerTop__map {
        display: none;
    }
}