*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.section {
    width: 100%;
    text-align: center;
}

html {
    font-size: 16px;
}

.title {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    margin-top: 0px;
    padding-top: 20px;
}
