.header {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-image: url(/image/dice-1264058_1920.jpg);
    background-position: center;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
}

.header__title {
font-family: 'Yeon Sung', cursive;
    font-size: 60px;
    color: #fff;
    z-index: 1;
    letter-spacing: 12px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.hamburgerBox {
    z-index: 1;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: .3s linear;
}

.hamburgerMenu {
    z-index: 1;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.hamburgerMenu::before,
.hamburgerMenu::after {
    content: '';
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 12.5px
}

.hamburgerMenu::after {
    top: 25px;
}

.hamburgerBox--active{
    transform: translateX(-320px);
    transition: .3s linear;
}